extends layout

block content
    .userContainer
        p.headerText EDIT #{record.type}
        form#editRecordForm
            .record
                each value, field in record
                    if field === 'familyMembers'
                        -continue;
                    if field === 'permissions'
                        -continue;
                    -var readOnly = false;
                    -var hidden = '';
                    if field === '_id'
                        -readOnly = true;
                    if field === 'password' || field == 'type'
                        -hidden = 'hidden';
                    if field === 'country'
                        .form-group.formSpacing
                            label COUNTRY
                            select.form-control(type="text" name="country")
                                option(value="") - Country -
                                each country in countries
                                    if country.name === value
                                        option(value=country.name selected) #{country.name}
                                    else
                                        option(value=country.name) #{country.name}
                    else
                        .form-group.formSpacing(class=hidden)
                            label=field
                            -var fieldType = 'text';
                            -if(field === 'disclaimer')
                                -fieldType = 'checkbox'
                            input.form-control(type=fieldType value=value name=field readOnly=readOnly)
                -if(typeof record.permissions !== 'undefined')
                    .form-group.formSpacing
                        h3 Permissions
                    each permission in permissionTypes
                        .checkbox
                            -if(record.permissions.indexOf(permission.name) > -1)
                                input(type="checkbox" name=permission.name checked)
                            -else
                                input(type="checkbox" name=permission.name)
                            label(for=permission.name)=permission.label
                
                if typeof record.familyMembers !== 'undefined'
                    each member, index in record.familyMembers
                        h3 Family Member #{index+1}
                        .familyMember(style="padding-left: 30px")
                            each value, field in member
                                -var name = '' + index + '-' + field
                                if field === 'country'
                                    .input-group.formSpacing
                                        label COUNTRY
                                        select.form-control(type="text" name=name)
                                            option(value="") - Country -
                                            each country in countries
                                                if country.name === value
                                                    option(value=country.name selected) #{country.name}
                                                else
                                                    option(value=country.name) #{country.name}
                                else
                                    .input-group.formSpacing(class=hidden)
                                        label=field
                                        input.form-control(type="text" value=value name=name readOnly=readOnly)
                
        //- Add change password feature

        button#save.btn.btn-success.hidden Save


    script.
        $('input, select').on('change keypress',function(){
            $('#save').removeClass('hidden');
        })

        $('#save').on('click',function(){
            var data = $('form#editRecordForm').serialize();
            $.ajax({
                    type:"POST",
                    url:"/userManagement/saveRecord",
                    data:data,
                    success:function(data){
                        //Add error checking
                        toastr.success("Record has been successfully saved.")
                    },
                    dataType:"json"
                })
        })

