extends layout

block content
    .userContainer
        p.headerText ADD/CHANGE LINE
        .newUser
            form#newUserForm(action="/submitLine")
                .form-group.formSpacing
                    label Line Name
                    input.form-control(type="text" placeholder="Line Name" name="name")
                .form-group.formSpacing
                    label Resource
                    input.form-control(type="text" placeholder="Resource" name="resource")
                //- .form-group.formSpacing
                //-     label CAPACITY
                //-     input.form-control(type="text" placeholder="Capacity" name="capacity")
                .form-group.formSpacing
                    label Open/Close
                    input.form-control(type="text" placeholder="Open - Close" name="openCloseTime")
                //- .form-group.formSpacing
                //-     label ACCESS FREQUENCY (HOURS)
                //-     input.form-control(type="text" placeholder="Access Frequency (hours)" name="accessFrequency")
                .form-group.formSpacing
                    label Notes
                    textarea.form-control(placeholder="Notes" name="notes")
                each field in settings.fields
                    .form-group.formSpacing
                        label(style="text-transform:uppercase")=field
                        input.form-control(type="text" name=field placeholder=field)
                .form-group.formSpacing.hidden
                    input.form-control(type="text" name="type" value="line")
                .clearFloat
        button#submitLine.btn.btn-success.hidden(style="float:right;margin-top:10px;") Submit
        
        p.headerText LINES
        .usersList
            each line in lines
                -var dateStr = "NA"
                -if(typeof line.dateCreated !== 'undefined')
                    -var year = line.dateCreated.getFullYear()
                    -var month = line.dateCreated.getMonth() + 1
                    -var date = line.dateCreated.getDate()
                    -dateStr = month + "/" + date + "/" + year
                a(href="/userManagement/editRecord/" + line._id + '?type=' + line.type)
                    .listUser
                        p.strong.name=line.name
                        p.strong.resource=line.resource
                        //- p.strong.capacity Cap: #{line.capacity}
                        p._id=line._id
                        p.dateCreated Created: #{dateStr}
                        button.deleteLine.btn.btn-danger(style="float:right;margin-top:12px;margin-right:10px") Delete
                        .clearFloat

    a.lineTemplate.hidden
        .listUser
            p.strong.name
            p.strong.resource
            //- p.strong.capacity
            p._id
            p.dateCreated
            button.deleteLine.btn.btn-danger(style="float:right;margin-top:12px;margin-right:10px") Delete
            .clearFloat
    
    script.
        $('#submitLine').on('click',function(){
            var data = $('form#newUserForm').serialize();
            $.ajax({
                type:"POST",
                url:"/userManagement/submitLine",
                data:data,
                success:function(data){
                    // Add failure prompt
                    toastr.success("Line has been successfully added!")
                    appendToList(data.line);
                },
                dataType:"json"
            })
        })

        $('input, textarea').on('change keypress',function(){
            $('#submitLine').removeClass('hidden');
        })

        $('.deleteLine').on('click',function(e){
            e.preventDefault();
            if(confirm("Are you sure you want to delete this line?")){
                var id = $(this).parent().find('._id').text();
                $(this).parent().remove()
                var data = {_id: id, collection: "lines"};
                $.ajax({
                    type:"POST",
                    url:"/userManagement/deleteRecord",
                    data:data,
                    success:function(data){
                        toastr.success("Line has been successfully deleted.")
                    },
                    dataType:"json"
                })
            }
        })

        function appendToList(line){
            var $newLine = $('.lineTemplate').clone().removeClass('lineTemplate hidden')
            for(key in line){
                if(key === "dateCreated"){
                    var date = new Date(line.dateCreated);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var date = date.getDate();
                    dateStr = month + "/" + date + "/" + year
                    $newLine.find('.'+key).text("Created: " + dateStr)
                //- }else if(key === 'capacity'){
                //-     $newLine.find('.'+key).text("Cap: " + line[key]);
                }else{
                    $newLine.find('.'+key).text(line[key]);
                }
            }
            var href='/userManagement/editRecord/' + line._id + '?type=' + line.type;
            $newLine.attr('href',href);
            $('.usersList').append($newLine)
        }