extends layout

block content
    .userContainer
        p.headerText ADD/CHANGE RECIPIENT
        .newUser
            form#newUserForm(action="/submit")
                .form-group.formSpacing
                    label First Name
                    input.form-control(type="text" placeholder="First Name" name="firstName")
                .form-group.formSpacing
                    label Last Name
                    input.form-control(type="text" placeholder="Last Name" name="lastName")
                .form-group.formSpacing
                    label Country
                    select.form-control(type="text" placeholder="Country" name="country")
                        option(value="") - Country -
                        each country in countries
                            option(val=country.name) #{country.name}
                .form-group.formSpacing
                    label Language(s)
                    input.form-control(type="text" placeholder="Language(s)" name="languages")
                .form-group.formSpacing
                    label Date of Birth
                    input.form-control#datepicker(type="text" placeholder="Date of Birth" name="dateOfBirth")
                .form-group.formSpacing
                    label Case Number
                    input.form-control(type="text" placeholder="Case Number" name='caseNumber')
                .form-group.formSpacing
                    label Housing Location
                    input.form-control(type="text" placeholder="Housing Location" name="housingLocation")
                .form-group.formSpacing
                    label Special Needs
                    input.form-control(type="text" placeholder="Special Needs" name="specialNeeds")
                .form-group.formSpacing
                    label Notes
                    textarea.form-control(placeholder="Notes" name="notes")
                .checkbox
                    input(type="checkbox" name="disclaimer")
                    label Disclaimer Acknowledged
                .form-group.formSpacing
                    //- Used for determining which database collection to work with (recipients) 
                    input.hidden(type="text" value="recipient" name="type")
                -if(typeof settings !== 'undefined' && settings.fields.length > 0)
                    each field in settings.fields
                        .form-group.formSpacing
                            label(style="text-transform:uppercase")=field
                            input.form-control(type="text" name=field placeholder=field)
                .clearFloat
        button#formSubmit.btn.btn-success.hidden(style="float:right; margin-top: 10px;") Submit
        button#addFamily.btn.btn-success.addFamilyButton(style="float:right; margin: 10px 10px 0 0 ") Add Family Member

        .familyMembersContainer.hidden
            p.headerText ADD/CHANGE FAMILY MEMBERS
                .familyList
            button#addAnother(style="float:right; margin-top: 10px;") Add Another

        
        
        p.headerText RECIPIENTS
        .usersList
            each recipient in recipients
                -var dateStrDC = "NA"
                -var dateStrDOB = "NA"
                -if(typeof recipient.dateCreated !== 'undefined' && recipient.dateCreated !== "")
                    -var dateCreated = new Date(recipient.dateCreated)
                    -var year = dateCreated.getFullYear()
                    -var month = dateCreated.getMonth()
                    -var date = dateCreated.getDate()
                    -dateStrDC = month + "/" + date + "/" + year
                -if(typeof recipient.dateOfBirth !== 'undefined' && recipient.dateOfBirth !== "")
                    -var dateOfBirth = new Date(recipient.dateOfBirth)
                    -var year = dateOfBirth.getFullYear()
                    -var month = dateOfBirth.getMonth()
                    -var date = dateOfBirth.getDate()
                    -dateStrDOB = month + "/" + date + "/" + year
                a(href="/userManagement/editRecord/"+recipient._id+'?type='+recipient.type)
                    .listUser
                        p.strong.firstName=recipient.firstName
                        p.strong.lastName=recipient.lastName
                        p.country=recipient.country
                        p.languages=recipient.languages
                        p.dateOfBirth DOB: #{dateStrDOB}
                        p.dateCreated Created: #{dateStrDC}
                        p.caseNumber Case #: #{recipient.caseNumber}
                        p.housingLocation Housing Location: #{recipient.housingLocation}
                        p.specialNeeds Special Needs: #{recipient.specialNeeds}
                        p.hidden._id=recipient._id
                        button.deleteUser.btn.btn-danger(style="float:right;margin-top:12px;margin-right:10px") Delete
                        //- span.deleteUser(style="float:right; font-size: 30px; padding-right: 20px;") &times;
                        .clearFloat

        .familyTemplate.newUser.hidden(style="margin-top:20px;")
            form
                .form-group.formSpacing
                    label First Name
                    input.form-control(type="text" placeholder="First Name" name="firstName")
                .form-group.formSpacing
                    label Last Name
                    input.form-control(type="text" placeholder="Last Name" name="lastName")
                .form-group.formSpacing
                    label Country
                    select.form-control(type="text" placeholder="Country" name="country")
                        option(value="") - Country -
                        each country in countries
                            option(val=country) #{country.name}
                .form-group.formSpacing
                    label Language(s)
                    input.form-control(type="text" placeholder="Language(s)" name="languages")
                .form-group.formSpacing
                    label Date of Birth
                    input.form-control#datepicker(type="text" placeholder="Date of Birth" name="dateOfBirth")
                .form-group.formSpacing
                    label Special Needs
                    input.form-control(type="text" placeholder="Special Needs" name="specialNeeds")
                .form-group.formSpacing
                    label Notes
                    textarea.form-control(placeholder="Notes" name="notes")
                .checkbox
                    input(type="checkbox" name="disclaimer")
                    label Disclaimer Acknowledged
                .form-group.formSpacing
                    //- Used for determining which database collection to insert to (recipients) 
                    input.hidden(type="text" value="recipient" name="type")
                .clearFloat

        
        a.recipientTemplate.hidden
            .listUser
                p.strong.firstName
                p.strong.lastName
                p.country
                p.languages
                p.dateOfBirth
                p.dateCreated
                p.caseNumber
                p.housingLocation
                p.specialNeeds
                p.hidden._id
                button.deleteUser.btn.btn-danger(style="float:right;margin-top:12px;margin-right:10px") Delete
                .clearFloat

    script(type='text/javascript').
        $(function(){
            $('#datepicker').datetimepicker({ //documentation: http://xdsoft.net/jqplugins/datetimepicker/
                format:'m/d/Y',
                timepicker:false,
                closeOnDateSelect:true,
            });
        });

        $('input, textarea').on('change keypress',function(){
            $('#formSubmit').removeClass('hidden');
        })

        $('#addFamily, #addAnother').on('click',function(){
            $('.familyMembersContainer').removeClass('hidden');
            insertMember();
        })
        var insertMember = function(){
            var $newFamilyMember = $('.familyTemplate').clone().removeClass('hidden familyTemplate').addClass('familyMember');
            $newFamilyMember.find('form').attr('id', 'newUserForm')
            var famNum = $('.familyMember').length;
            $newFamilyMember.find('input, select').each(function(input){
                var indexedName = '' + famNum + '-' + $(this).attr('name');
                $(this).attr('name',indexedName)
            })

            // Date picker not working on family members. Need to investigate more
            var dateId = "datepicker"+famNum;
            $newFamilyMember.find('input#datepicker').removeAttr('id').attr('id',dateId)
            $('#' + dateId).datetimepicker({ //documentation: http://xdsoft.net/jqplugins/datetimepicker/
                format:'m/d/Y',
                timepicker:false,
                closeOnDateSelect:true,
            });
            $('.familyList').append($newFamilyMember);
        }

        $('.deleteUser').on('click',function(e){
            e.preventDefault();
            if(confirm("Are you sure you want to delete this user?")){
                var id = $(this).parent().find('._id').text();
                $(this).parent().remove()
                var data = {_id: id, collection: "recipients"};
                $.ajax({
                    type:"POST",
                    url:"/userManagement/deleteRecord",
                    data:data,
                    success:function(data){
                        toastr.success("User has been successfully deleted.")
                    },
                    dataType:"json"
                })
            }
        })

        $('#formSubmit').on('click',function(){
            var data = $('form#newUserForm').serialize();
            $.ajax({
                type:"POST",
                url:"/userManagement/submitRecipient",
                data:data,
                success:function(data){
                    // Add failure prompt
                    toastr.success("Recipient has been successfully added!")
                    appendToList(data.recipient);
                },
                dataType:"json"
            })
        })

        function appendToList(recipient){
            var $newRecipient = $('.recipientTemplate').clone().removeClass('recipientTemplate hidden')
            for(key in recipient){
                if(key === "dateCreated" && recipient[key] !== ''){
                    var date = new Date(recipient[key]);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var date = date.getDate();
                    dateStr = month + "/" + date + "/" + year
                    $newRecipient.find('.'+key).text("Created: " + dateStr)
                }else if(key === "dateOfBirth"){
                    var date = new Date(recipient[key]);
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var date = date.getDate();
                    dateStr = month + "/" + date + "/" + year
                    if(recipient[key] === '')
                        dateStr = "N/A"
                    $newRecipient.find('.'+key).text("DOB: " + dateStr)
                }else{
                    $newRecipient.find('.'+key).text(recipient[key])
                }
            }
            var href = '/userManagement/editRecord/' + recipient._id + '?type=' + recipient.type
            $newRecipient.attr('href',href)
            $('.usersList').append($newRecipient)
        }